body {
  background-image: url("http://68.media.tumblr.com/e0c1d9492d24af1dcf870981c42bfb1a/tumblr_ob7aj22Wq71ug743po1_1280.jpg");
  background-size: cover;
  text-align: center;
}

h1 {
  color: #DC9FFA;
  display: flex;
  justify-content: center;
  font-family: 'Bungee Inline', cursive;
  font-size: 80px;
}

h2 {
  color: rgba(199, 216, 237, .9);
  font-family: 'Codystar', cursive;
  font-size: 60px;
  text-shadow: 0px 1px 3px #000000;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 30px;
}

p{
  color: rgba(199, 216, 237, .9);
  font-family: 'Bungee Inline', cursive;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.scorebox1 {
  color: white;
  text-shadow: 0px 0px 4px white;
  font-size: 45px;
  font-family: 'Codystar', cursive;
}

.scorebox2 {
  color: white;
  text-shadow: 0px 0px 4px white;
  font-size: 45px;
  font-family: 'Codystar', cursive;
}

.counter {
  color: rgba(255, 255, 255, .9);
  text-shadow: 0px 0px 4px white;
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
}

h3 {
  color: white;
}

.row {
  background-color: rgba(255, 255, 255, .863);
  padding: 65px;
  margin: 1px;
  display: inline-block;
  border-radius: 10px;
}

.row:hover {
  background-color: rgba(118, 157, 151, .7);
}

.column1 {
  display: flex;
  justify-content: center;
}

.column2 {
  display: flex;
  justify-content: center;
}

.column3 {
  display: flex;
  justify-content: center;
}

#gameboard {
  margin-top: 45px;
}

.player1choice {
  background-color: rgba(236, 178, 237, .863);
}

button {
  color: rgba(255, 255, 255, .9);
  background-color: #DC9FFA;
  display: inline-block;
  border-radius: 30px;
  font-family: 'Bungee Inline', cursive;
  font-size: 20px;
  margin-top: 10px;
}

.playerz {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.marked1 {
  background-color: rgba(248, 159, 250, .9);
  padding: 8px 52px;
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
}

.marked2 {
  background-color: rgba(58, 37, 59, .8);
  padding: 8px 52px;
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
}

@media (max-width: 799px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    display: block;
    font-size: 45px;
  }
  .row {
    padding: 60px;
  }
}


@media (max-width: 667px) {

  h1 {
    font-size: 36px;
  }
  h2 {
    display: block;
    font-size: 35px;
  }
  .row {
    padding: 59px;
  }
}

@media (max-width: 577px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    display: block;
    font-size: 20px;
  }
  .row {
    padding: 55px;
  }
}
@media (max-width: 490px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    display: block;
    font-size: 18px;
  }
  .row {
    padding: 40px;
  }
}

@media (max-width: 419px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    display: block;
    font-size: 18px;
  }
  .row {
    padding: 40px;
    font-size: 18px;
  }
